/* Challenge CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
}

.container {
  /* Add your styles here */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

h1 {
  /* Add your styles here */
  font-size: 10vh;
  margin: 40px 80px;
}

.pricing-heading {
  /* Add your styles here */
  font-size: 60px;


}
.pricing-card h2{
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
}
.pricing-container {
  /* Add your styles here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-card {
  /* Add your styles here */
  margin: 20px 40px;
  text-align: center;
  width: 25%;
  
  padding: 40px;
  border: 2px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  
}

.pricing-card:hover {
  /* Add your styles here */
  background-color: #e3e1e1;

  
}

.pricing-card.popular {
  /* Add your styles here */
  border: 2px solid orangered;
  
}

.popular-badge {
  /* Add your styles here */
  position: absolute;
  top: 23.5%;
  
  left: 45.5%;
  background-color: orangered;
  border-radius: 20px;
  padding: 10px 20px;
  color: #f5f5f5;
}

.price {
  /* Add your styles here */
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.period {
  /* Add your styles here */
  margin-bottom: 20px;
  color: #4a4747;
}

.features {
  /* Add your styles here */
  color: #4a4747;
  
  margin-bottom: 10px;
}

.features li {
  /* Add your styles here */
  list-style-type: square;
  
}

.subscribe-btn {
  /* Add your styles here */
  margin: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(253, 111, 60);
  font-size: 20px;
  border: none;
  color: rgb(111, 33, 5);
}

.subscribe-btn:hover {
  /* Add your styles here */
  background-color: rgb(111, 33, 5);
  color: rgb(253, 111, 60);

}
